.button {
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font-family: "Oswald", sans-serif, "Arial";
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: block;
}
