.contacts__slogan {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.contacts__adress {
  font-family: $primary-font;
  line-height: 20px;
  color: #444444;
}

.contacts__city {
  font-family: $primary-font;
  line-height: 20px;
  color: #444444;
}
