.footer {

  display: flex;
  flex-flow: wrap;
  background-color: #f2f2f2;
  flex-direction: column;
  justify-content: center;
}

.footer__logo {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
  justify-content: center;
  margin-top: 40px;
}

.footer__logo::before {
  content: "";
  background-color: #111111;
  mask-size: 128px 24px;
  mask-repeat: no-repeat;
  width: 128px;
  height: 24px;
  transition: all 0.3s ease-in-out;
  display: block;
  mask-image: url("../../icons/stack.svg#footer-logo");
}

.footer__logo:hover::before {
  background-color: #3e3e3e;
}

.footer__logo:active::before {
  background-color: #6b6b6b;
}

.footer__list {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 20px 0;
  position: relative;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.footer__link {
  background-position: 50%;
  width: 28px;
  height: 22px;
  display: block;
  transition: all 1.3s;
}


.footer__link-vk::before {
  content: "";
  mask-image: url("../../icons/stack.svg#social_vkontakte");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  display: block;
  background-color: #666666;
  width: 28px;
  height: 22px;
}


.footer__link-yt::before {
  content: "";
  mask-image: url("../../icons/stack.svg#social_youtube");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  display: block;
  background-color: #666666;
  width: 28px;
  height: 22px;
}


.footer__link-tg::before {
  content: "";
  mask-image: url("../../icons/stack.svg#social_telegram");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  display: block;
  background-color: #666666;
  width: 28px;
  height: 22px;
}

.footer__link:hover::before {
  background-color: $basic-green;
}

.footer__link:active::before {
  background-color: $basic-green;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .footer {
    flex-direction: row;
    align-items: center;
    padding: 42px 30px 55px;
    justify-content: space-between;
    background-color: #f2f2f2;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__list {
    margin-top: 0;
    border: none;
    padding-left: 34px;
    padding-top: 21px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 51px;
  }

}
