.header {
  border-bottom: 1px solid #d9d9d9;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 13px;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 64px;
}

.header__image {
  display: block;
  margin-right: 56px;
}

.header__text {
  display: block;
}

.header__toggle {
  position: relative;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header:has(nav.navigation--nojs) .header__toggle {
  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 2px;
    background-color: $basic-black;
    content: "";
  }

  &::before {
    top: 50%;
    transform: translate(-50%, 0) rotate(45deg);
    box-shadow: none;
  }

  &::after {
    top: 50%;
    transform: translate(-50%, 0) rotate(-45deg);
  }
}

.header:has(.navigation--closed) .header__toggle::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 2px;
  background-color: $basic-black;
  box-shadow: 0 8px 0 0 $basic-black, 0 -8px 0 0 $basic-black;
  content: "";
}

.header:has(.navigation--opened) .header__toggle--close {
  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 2px;
    background-color: $basic-black;
    content: "";
  }

  &::before {
    top: 50%;
    transform: translate(-50%, 0) rotate(45deg);
    box-shadow: none;
  }

  &::after {
    top: 50%;
    transform: translate(-50%, 0) rotate(-45deg);
  }
}

@media (min-width: $tablet-width) {
  .header {
    flex-flow: row wrap;
    justify-content: space-between;
    border: none;
    padding: 11px 30px 14px;
  }

  .header__wrapper {
    justify-content: start;
  }

  .header__wrapper::after {
    display: none;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__logo:hover {
    opacity: 0.8;
  }

  .header__logo:active {
    opacity: 0.6;
  }

  .header__image {
    margin-right: 13px;
  }

  .header__toggle {
    display: none;
  }

  .header__toggle--close {
    display: none;
  }

  .header:has(nav.navigation--nojs) .header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding-top: 41px;
    padding-bottom: 0;
    width: 1220px;
  }

  .header__text {
    width: 118px;
    height: 21px;
  }
}
