.hero {
  width: 100%;
}

.hero::before {
  z-index: -1;
  content: "";
  background-color: #68b738;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/hero/cat-background@1x.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 100%;
  min-height: 302px;
  position: absolute;
}

.hero__wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
}

.hero__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-white;
  text-align: center;
  margin: 27px auto 25px;
}

.hero__slogan {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: $basic-white;
  text-transform: uppercase;
  margin: 0 auto 29;
}

.hero__button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  text-transform: uppercase;
  background-color: $basic-green;
  padding: 10px 0;
  width: 280px;
  text-align: center;
}

.hero__button:hover {
  background-color: #5eaa2f;
}

.hero__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}


// tablet

@media (min-width: $tablet-width) {
  .hero::before {
    display: none;
  }

  .hero__wrapper {
    min-height: 810px;
    align-items: initial;
    padding-top: 40px;
    margin: 0 auto;
  }

  .hero__title {
    color: $basic-black;
    font-size: 60px;
    line-height: 60px;
    max-width: 440px;
    margin: 0 auto 42px 90px;
    text-align: left;
  }

  .hero__slogan {
    color: $basic-black;
    font-size: 20px;
    margin: 0;
    margin-left: 90px;
    margin-bottom: 21px;
  }

  .hero__img {
    margin: 0 auto;
    display: block;
    margin-top: 2px;
  }

  .hero__button {
    font-size: 20px;
    line-height: 26px;
    padding: 14px 26px;
    font-weight: 400;
    width: 192px;
    text-align: center;
    margin-left: 90px;
    position: absolute;
    bottom: 526px;
  }
}

@media (min-width: $desktop-width) {
  .hero::before {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/hero/cat-background-desktop@1x.png");
    background-position-x: left;
    background-size: 100%, auto 694px;
    min-width: 50%;
    min-height: 694px;
    display: block;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .hero__wrapper {
    min-height: 549px;
    padding-top: 99px;
    max-width: 1220px;
    margin-bottom: 1px;
  }

  .hero__title {
    margin: 0 0 42px 80px;
    z-index: 1;
  }

  .hero__slogan {
    margin-bottom: 54px;
    margin-left: 80px;
    z-index: 1;
  }

  .hero__img {
    position: absolute;
    top: 17px;
    right: 331px;
    translate: 0;
  }

  .hero__button {
    margin-left: 80px;
    position: initial;
  }
}

@media (min-resolution: 2dppx) {
  .hero::before {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/hero/cat-background-desktop@2x.png");
  }
}
