
.products-add__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 36px;
  position: relative;
  width: fit-content;
  background-color: $basic-white;
  box-shadow: -40px 0 0 0 $basic-white, 40px 0 0 0 $basic-white;
}

.products-add__title::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100vw;
  height: 2px;
  background-color: $basic-green;
  box-shadow: 100vw 0 0 0 $basic-green;
  z-index: -1;
  top: 12px;
}


.products-add__wrapper {
  margin: 0 auto;
}

.products-add__list {
  border-top: 1px solid #cdcdcd;
  margin: 0 0 35px;
}

.products-add__item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 19px;
}

.products-add__name {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  grid-column: 1/3;
  display: block;
  margin: 13px 0 0;
}

.products-add__value {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  font-weight: 400;
  margin-top: 13px;
}

.products-add__price {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
  text-align: end;
  margin-top: 13px;
}

.products-add__button {
  color: #ffffff;
  background-color: #68b738;
  grid-column: 1/3;
}

.products-add__button:hover {
  background-color: #5eaa2f;
}

.products-add__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}

@media (min-width: $tablet-width) {
  .products-add__title {
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 80px;
    margin-left: 40px;
    margin-top: 74px;
    padding: 0;
  }

  .products-add__wrapper {
    margin: 0;
  }

  .products-add__list {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    margin-bottom: 69px;
  }

  .products-add__item {
    grid-template-columns: 1fr 1fr 93px;
    padding: 27px 38px 28px;
    row-gap: 23px;
    align-items: center;
  }

  .products-add__name {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    grid-column: 1/2;
    margin: 0;
  }

  .products-add__value {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: end;
    margin: 0;
  }

  .products-add__price {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
  }

  .products-add__button {
    grid-column: 1/4;
  }
}

@media (min-width: $desktop-width) {
  .products-add__list {
    border-left: none;
    border-right: none;
    margin-bottom: 0;
  }

  .products-add__title {
    margin-top: 70px;
    font-size: 40px;
    line-height: 40px;
    margin-left: 0;
  }

  .products-add__title::before {
    top: 16px;
  }

  .products-add__wrapper {
    display: grid;
    grid-template-columns: 896px 245px;
    justify-content: space-between;
  }

  .products-add__item {
    width: 896px;
    grid-template-columns: 1fr 200px 127px 244px;
    padding: 15px 0;
    align-items: center;
  }

  .products-add__name {
    padding-bottom: 1px;
  }

  .products-add__value {
    text-align: start;
    padding-top: 4px;
  }

  .products-add__price {
    text-align: center;
    padding-top: 2px;
  }

  .products-add__button {
    grid-column: 4/5;
  }
}
