
.products {
  padding-top: 28px;
}


.products__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-black;
  margin: 0 0 41px;
}

.products__list {
  border-top: 1px solid #ebebeb;
  margin: 0 -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__item {
  border-bottom: 1px solid #ebebeb;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .products__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 84px;
    margin-top: 10px;
  }

  .products__list {
    border: none;
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 60px;
    margin: 0;
  }

  .products__item {
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .products__title {
    margin-top: 34px;
  }

  .products__list {
    grid-template-columns: repeat(4, 245px);
    gap: 63px 80px;
  }
}
